@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Öğrenci Ekleme Platformu.</p>
</div>

<body>
    <form method="post" action="../Ogrenci/OgrKaydet">

        <label for="fname">Adi:</label><br>
        <input type="text" id="fname" name="ogrAd"><br>
        <label for="lname">Soyadi:</label><br>
        <input type="text" id="lname" name="ogrSoyad"><br />
        <label for="number">Ogr.No:</label><br>
        <input type="text" id="number" name="ogrNo">
        <br /><br />
        <td colspan="3"><input type="submit" value="Öğrenci Kaydet" /></td>
    </form>

</body>
